:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  height: 100vh;
  overflow: auto;
}

.navbar-container {
  width: 100%;
  height: 50px;
  display: flex; align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  border-bottom: 4px solid black;
}

.navbar-container h1 {
  margin-right: 3rem;
}
.navbar-container a {
  text-decoration: none;
  color: unset;
}

.stats-container {
  display: flex; flex-wrap: wrap;
  gap: 1rem;
}
.stat-div {
  display: flex; gap: 1rem; align-items: center;
  flex-direction: column;
  width: 250px;
}
.stat-card-icons-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.stat-card-icons-list:empty { display: none; }


.flex {
  display: flex; gap: 0.5rem;
}

.stat-choice-card {
  margin-bottom: 1rem;
}
.choice-list > * {
  margin-bottom: 1rem;
}
.background-container {
  display: flex; flex-wrap: wrap; gap: 0.5rem;
  overflow-y: auto; max-height: 1500px;
}

.separator {
  width: 4px;
  background-color: black;
  margin: 0 0.5rem;
  border-radius: 8px;
}


@media (max-width: 600px) {
  .stats-container, div:has(.stats-container), .ScrollPanel {
    touch-action: pan-y !important;
    overflow-y: auto;
  }
  .stats-container > * {
    width: calc(33% - 1rem);
    min-width: 120px;
  }
  .page-content {
    height: calc(100vh - 150px);
  }
}